@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --background-primary-color: #ffffff;
  --background-secondary-color: #2f303a;
  --accent-color: #2196f3;
  --button-active-color: #188ce8;
  --transperent-color: #ffffff99;
  --inactive-filter-color: #f5f4fa;
  --social_link_color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 14px;
  color: var(--primary-color);
}
body .container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  body .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767px) {
  body .container {
    max-width: 480px;
  }
}
body .section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  body .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
body .section--features {
  padding-bottom: 0px;
}
@media screen and (max-width: 1200px) {
  body .section--features {
    padding-bottom: 60px;
  }
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
input,
h3,
p,
ul,
a,
svg {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-decoration: none;
}

img {
  display: block;
}

.logo {
  margin-right: 93px;
  color: inherit;
  font-size: 26px;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.78px;
}
@media screen and (max-width: 767px) {
  .logo {
    margin-right: 0;
  }
}

.footer__logo {
  margin: 0;
  color: var(--background-primary-color);
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.logo__footer,
.logo__header {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}
.header__content {
  height: 80px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__content {
    max-width: 100% !important;
    max-height: 60px;
    justify-content: space-between;
  }
}
.header .nav__list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .header .nav__list {
    display: none;
  }
}
.header .nav__item {
  position: relative;
}
.header .nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header .nav__link:hover, .header .nav__link:focus {
  color: var(--accent-color);
}
.header .nav__link--active {
  color: var(--accent-color);
}
.header .nav__link--active::after {
  content: "";
  position: absolute;
  height: 4px;
  left: 0;
  top: 45px;
  width: 100%;
  border-radius: 2px;
  background: var(--accent-color);
}
.header .contact {
  display: flex;
  margin-left: auto;
  gap: 40px;
}
@media screen and (max-width: 1200px) {
  .header .contact {
    flex-direction: column;
    gap: 7px;
  }
}
@media screen and (max-width: 767px) {
  .header .contact {
    display: none;
  }
}
.header .contact__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-color);
  display: inline-block;
  text-decoration: none;
}
.header .contact__link--header {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.28px;
  fill: var(--secondary-color);
}
@media screen and (max-width: 1200px) {
  .header .contact__link--header-top {
    padding-bottom: 0;
    padding-top: 19px;
  }
}
@media screen and (max-width: 1200px) {
  .header .contact__link--header-bottom {
    padding-top: 0;
    padding-bottom: 19px;
  }
}
.header .contact__link:hover, .header .contact__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.header .contact__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}
.header .contact__icon--phone {
  margin-bottom: -2px;
}
.header__burger-menu {
  padding: 0;
  z-index: 2;
  display: none;
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  fill: var(--primary-color);
  background-color: var(--background-primary-color);
}
@media screen and (max-width: 767px) {
  .header__burger-menu {
    display: block;
  }
}
.header__burger-menu :hover,
.header__burger-menu :focus {
  fill: var(--accent-color);
}
.header__burger-menu.is-open .header__burger-icon-open {
  opacity: 0;
  display: none;
}
.header__burger-menu.is-open .header__burger-icon-close {
  opacity: 1;
  display: block;
}
.header__burger-icon-open, .header__burger-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__burger-icon-close {
  opacity: 0;
  display: none;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--background-primary-color);
  position: fixed;
  display: flex;
  transform: translateX(100%);
  flex-direction: column;
  height: 100%;
  z-index: 1;
  width: 100%;
  top: 0px;
  padding: 48px 40px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .nav__list--mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu .nav__link-mobile-menu {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.mobile-menu .nav__link-mobile-menu--active {
  color: var(--accent-color);
}
.mobile-menu .nav__link-mobile-menu:hover, .mobile-menu .nav__link-mobile-menu:focus {
  color: var(--accent-color);
}
.mobile-menu__contact-list {
  margin-bottom: 64px;
  margin-top: auto;
}
.mobile-menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.mobile-menu__contact-link:hover, .mobile-menu__contact-link:focus {
  color: var(--accent-color);
}
.mobile-menu__contact-link--blue {
  color: var(--accent-color);
  letter-spacing: 0.68px;
  font-size: 34px;
}
.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.mobile-menu__social-item {
  display: flex;
  align-items: center;
}
.mobile-menu__social-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
.mobile-menu__social-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}
.mobile-menu__social-link:hover, .mobile-menu__social-link:focus {
  color: var(--primary-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__text {
  align-self: center;
  width: 696px;
  color: var(--background-primary-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .hero__text {
    font-size: 26px;
    width: 360px;
  }
}
.hero__button {
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 24px;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--button-active-color);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.features__item {
  max-width: 270px;
}
@media screen and (max-width: 767px) {
  .features__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .features__item {
    max-width: 354px;
  }
}
.features__image-background {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--inactive-filter-color);
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__title {
  font-size: inherit;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__description {
  margin-top: 10px;
  color: var(--secondary-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}

@media screen and (max-width: 1200px) {
  .activities {
    display: none;
  }
}
.activities__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
@media screen and (max-width: 1200px) {
  .activities__title {
    margin-bottom: 30px;
  }
}
.activities__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.activities__item {
  position: relative;
}
.activities__description {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 0;
  color: var(--background-primary-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: var(--inactive-filter-color);
}
.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
@media screen and (max-width: 1200px) {
  .team__title {
    margin-bottom: 30px;
  }
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.team__item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background: #fff;
}
@media screen and (min-width: 767px) and (max-width: 1200px) {
  .team__image {
    width: 354px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .team__image {
    width: 100%;
    height: auto;
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__member, .team__description {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
}
.team__member {
  font-weight: 500;
  margin-bottom: 10px;
}
.team__description {
  color: var(--secondary-color);
}
.team__social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team__social-item {
  border-radius: 50%;
}
.team__social-link {
  transition: fill 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  border-radius: 50%;
  padding: 12px 12px;
  fill: var(--social_link_color);
  width: 44px;
  height: 44px;
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
  fill: var(--background-primary-color);
}
.team .social__icon {
  width: 20px;
  height: 20px;
}

.clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1.08px;
}
@media screen and (max-width: 1200px) {
  .clients__title {
    margin-bottom: 30px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients__link {
  transition: border-color 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  fill: var(--social_link_color);
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--social_link_color);
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .clients__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
    padding: 16px 52px;
  }
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.clients__icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 106px;
  height: 60px;
}

.backdrop {
  z-index: 2 !important;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--background-primary-color);
  border-radius: 4px;
  width: 528px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 1200px) {
  .modal {
    max-width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .modal {
    width: 94%;
  }
}
.modal__close-button {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  fill: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
}
.modal__close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-color);
  width: 18px;
  height: 18px;
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: var(--accent-color);
}
.modal__title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.6px;
}
.modal .modal-form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal .modal-form__label {
  position: relative;
  color: var(--secondary-color);
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal .modal-form__input {
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 11px 0 12px 42px;
  width: 100%;
  margin-top: 4px;
  color: var(--primary-color);
  background-color: var(--background-primary-color);
}
.modal .modal-form__input:hover, .modal .modal-form__input:focus {
  outline: 1px solid var(--accent-color);
}
.modal .modal-form__input--comment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.modal .modal-form__input--comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal .modal-form__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  letter-spacing: 0.12px;
}
.modal .modal-form__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-color);
  position: absolute;
  top: 29px;
  left: 10px;
}
.modal .modal-form__input:hover + .modal-form__icon, .modal .modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}
.modal .modal-form__submit {
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  font-weight: 700;
  width: 200px;
  letter-spacing: 0.96px;
  line-height: 1.875;
  padding: 10px 52px;
}
.modal .modal-form__submit:hover, .modal .modal-form__submit:focus {
  background-color: var(--button-active-color);
}

.license {
  margin-left: 12px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .license {
    margin-left: 0;
  }
}
.license__label {
  font-size: 12px;
  color: var(--secondary-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
  cursor: pointer;
}
.license__checkbox {
  position: absolute;
  left: 10px;
  bottom: 6px;
  opacity: 0;
  pointer-events: none;
}
.license__checked-icon {
  transition: fill 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  margin-right: 7px;
  margin-bottom: 3px;
  fill: none;
  vertical-align: middle;
}
.license__checkbox:checked + .license__checked-icon {
  fill: var(--background-primary-color);
  border: none;
  background-color: var(--accent-color);
}
.license__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .filter {
    justify-content: flex-start;
    gap: 12px;
  }
}
.filter__button {
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: color 250ms, box-shadow 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  background-color: var(--inactive-filter-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
}
.filter__button:hover, .filter__button:focus {
  color: var(--inactive-filter-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter__button--active {
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .products__list {
    gap: 24px;
    justify-content: flex-start;
  }
}
.products__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #eee;
}
.products__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.products__item:hover .wrapper__overlay {
  transform: translateY(0);
}
.products__link {
  display: inline-block;
  text-decoration: none;
}
.products .wrapper {
  position: relative;
  overflow: hidden;
}
.products .wrapper__overlay {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .products .wrapper__image {
    width: 354px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .products .wrapper__image {
    width: 100%;
    height: 294px;
  }
}
.products .wrapper__text {
  position: absolute;
  top: 50%;
  padding: 0 24px;
  transform: translate(0, -50%);
  color: var(--background-primary-color);
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 0.54px;
  line-height: 1.55;
}
.products__text {
  position: relative;
  padding: 20px 24px;
}
.products__title {
  margin-bottom: 4px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .products__title {
    max-width: 305px;
  }
}
.products__description {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-secondary-color);
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 94px;
}
@media screen and (max-width: 1200px) {
  .footer__content {
    justify-content: space-around;
    gap: 60px;
  }
}
@media screen and (min-width: 1201px) {
  .footer__content {
    align-items: baseline;
  }
}
.footer .contact {
  margin-top: 28px;
  font-style: inherit;
  color: var(--inactive-filter-color);
  letter-spacing: 0.42px;
}
.footer .contact__address {
  margin-bottom: 12px;
}
.footer .contact__link--footer {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 12px;
  display: block;
  color: var(--transperent-color);
}
@media screen and (max-width: 1200px) {
  .footer .contact__link--footer {
    text-align: center;
  }
}
.footer .contact__link--footer:hover, .footer .contact__link--footer:focus {
  color: var(--accent-color);
}
.footer .contact__link--footer--tel {
  margin-bottom: 0px;
}
.footer .social__list {
  display: flex;
  gap: 10px;
}
.footer .social__title {
  margin-bottom: 20px;
  color: var(--background-primary-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .footer .social__title {
    text-align: center;
  }
}
.footer .social__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  padding: 12px 12px;
  fill: var(--background-primary-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
}
.footer .social__link:hover, .footer .social__link:focus {
  background-color: var(--accent-color);
}
.footer .social__icon {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .footer .email {
    width: 100%;
  }
}
.footer .email__title {
  color: var(--background-primary-color);
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .footer .email__title {
    text-align: center;
  }
}
.footer .email__form {
  display: flex;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 1200px) {
  .footer .email__form {
    flex-direction: column;
    gap: 20px;
  }
}
.footer .email__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  width: 358px;
  color: var(--social_link_color);
  background-color: var(--background-secondary-color);
}
@media screen and (max-width: 1200px) {
  .footer .email__input {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .footer .email__input {
    width: 100%;
  }
}
.footer .email__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer .email__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer .email__submit {
  border: 0px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: 1.875;
  padding: 10px 28px;
}
.footer .email__submit:hover, .footer .email__submit:focus {
  background-color: var(--button-active-color);
}
.footer .subcribe__content {
  display: flex;
  align-items: center;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */