:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
}
body {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-color);
}
.sitefoot{
    background-color: var(--background-secondary-color);
}
.products_list,
.contact_list,
.nav_list,
.btn_list,
.features_list,
.team_list,
.pic_list{
    list-style-type: none;
}
.navigate:focus,
.navigate:hover,
.contact:hover,
.contact:focus{
    transition: 300ms;
    color: var(--accent-color);
}
.btn-order:hover,
.btn-order:focus,
.btn:focus,
.btn:hover{
    transition: 300ms;
    color: var(--inactive-filter-color);
    background-color: var(--accent-color);
}
.btn,
.btn-order,
.btn{
    transition: 300ms;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}
.btn{
    background-color: var(--inactive-filter-color);
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.active{
    color: var(--background-primary-color);
    background-color: var(--accent-color);
}
.btn-order{
    background-color: var(--accent-color);
    color: var(--background-primary-color);
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
}
.navigate{
    transition: 300ms;
    text-decoration: none;
    color: inherit;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.navigate-active{
    text-decoration: none;
    color:var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    
}
.logo{
    text-decoration: none;
    color: inherit;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
/* logo in footer */
.white{
    color: var(--background-primary-color)
}
.contact{
    transition: 300ms;
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
}
.head{
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.foot{
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;
}
.hero-text{
    color: var(--background-primary-color);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.hero{
    background-color: var(--background-secondary-color);
}
.feature-title{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.feature-description{
    font-family: inherit;
    color: var(--secondary-color);
    line-height: 24px;
    letter-spacing: 0.42px;
}
.todo_title,
.team_title{
    color: inherit;
    font-family: inherit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}
/* Стилі портфоліо */
.product-title{
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 1.08px;
}
.product-description{
    font-family: inherit;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.48px;
}

/* team style */
.member{
    font-family: inherit;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.48px;
}
.title{
    color: inherit;
    font-weight: 500;
}
.description{
    color: var(--secondary-color)
}
/* Blue logo style */
.accent-text-logo{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;
}
.addr{
    font-style: normal;
    color: var(--inactive-filter-color);
    letter-spacing: 0.42px;
    line-height: 16px;
}
.contact_footer{
    color: var(--secondary-color);
}