@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --background-primary-color: #ffffff;
  --background-secondary-color: #2f303a;
  --accent-color: #2196f3;
  --button-active-color: #188ce8;
  --transperent-color: #ffffff99;
  --inactive-filter-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
}
.sitefoot {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-secondary-color);
  height: 251px;
}
ul {
  display: inline-block;
  list-style-type: none;
}
.navigate:focus,
.navigate:hover,
.contact:hover,
.contact:focus {
  transition: 300ms;
  color: var(--accent-color);
}
.btn-order:hover,
.btn-order:focus {
  transition: 300ms;
  background-color: var(--button-active-color);
}
.btn:focus,
.btn:hover {
  transition: 300ms;
  color: var(--inactive-filter-color);
  background-color: var(--accent-color);
}
.btn-order,
.btn {
  border: 0px;
  border-radius: 4px;
  transition: 300ms;
  font-size: 16px;
  cursor: pointer;
}
.btn_list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 50px;
  margin-top: 0px;
}
.btn {
  padding: 6px 22px;
  background-color: var(--inactive-filter-color);
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
}
.active {
  color: var(--background-primary-color);
  background-color: var(--accent-color);
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.nav_list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin:0;
  padding: 0;
}
.contact_list{
  display: flex;
  margin-left: auto;
  gap: 40px;
}
.nav_head{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product_link,
.contact,
.logo,
.navigate,
.navigate-active {
  text-decoration: none;
}
.btn-order {
  background-color: var(--accent-color);
  color: var(--background-primary-color);
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
}
.navigate {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 32px;
  transition: 300ms;
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.navigate-active {
  margin-top: 32px;
  margin-bottom: 32px;
  display: inline-block;
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.28px;
}
.logo {
  margin-right: 93px;
  color: inherit;
  font-size: 26px;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.78px;
}
/* logo in footer */
.white {
  color: var(--background-primary-color);
}
.contact {
  transition: 300ms;
  color: var(--secondary-color);
}
.head {
  font-weight: 500;
  letter-spacing: 0.28px;
}
.hero-text {
  color: var(--background-primary-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero {
  background-color: var(--background-secondary-color);
}
.feature-title {
  font-size: inherit;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.feature-description {
  color: var(--secondary-color);
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.todo_title,
.team_title {
  font-size: 36px;
  letter-spacing: 1.08px;
}
/* Стилі портфоліо */
.product_item{
  border: 1px solid #EEE;
}
.products-list{
  padding: 96px 0;
}
.products_list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product-title {
  margin: 0px;
  padding-top: 20px;
  color: var(--primary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.08px;
}
.product-description {
  margin: 0px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}

/* team style */
.team {
  background-color: var(--inactive-filter-color);
}
.member {
  font-size: 16px;
  letter-spacing: 0.48px;
}
.title {
  font-weight: 500;
}
.description {
  color: var(--secondary-color);
}
/* Blue logo style */
.accent-text-logo {
  color: var(--accent-color);
  letter-spacing: 0.28px;
}
.foot {
  display: flex;
  margin-bottom: 8px;
  color: var(--transperent-color);
}
.addr{
  margin-bottom: 8px;
}
.address_footer {
  margin-top: 28px;
  font-style: inherit;
  color: var(--inactive-filter-color);
  letter-spacing: 0.42px;
}
