:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #ffffff;
    --background-secondary-color: #2f303a;
    --accent-color: #2196f3;
    --button-active-color: #188ce8;
    --transperent-color: #ffffff99;
    --inactive-filter-color: #f5f4fa;
    --social_link_color: #afb1b8;
}